.share__addFotoIcon {
    margin-right: 5px;
    width: 32px;
    height: 32px;
    fill: #109cf1;
    &.added{
       fill: #20c997
    }
}

.header__logo {
    width: 60px;
    height: 60px;
}

.sidebar {
    svg {
        fill: #c2cfe0;
        stroke: #c2cfe0;
        margin-right: 15px;
        width: 24px;
        height: 24px;
    }
    &__navLink.active {
        color: #109cf1;
        svg {
            fill: #109cf1;
            stroke: #109cf1;
        }
    }
}
